.blog-wrap {
    .heading {
        .title {
            padding: 0;
            color: #828E93;
            font-weight: 700;
            overflow-wrap: break-word;
            font-size: calc(1.5rem + 1.5vw);
            text-transform: uppercase;
            letter-spacing: 1.2px;
        }

        .search-title {
            color: #828e93;
            b {
                color: #243740;
            }
        }
    }
}

.pagination {
    .page-numbers {
        padding: 0.25rem 0.25rem;
        margin: 0.5rem;

        text-decoration: none;
        color: #243740;

        &.current {
            border-bottom: solid 2px var(--bs-primary);
        }

        &:hover,
        &:active,
        &:focus {
            color: var(--bs-primary) !important;
        }
    }

    .prev,
    .next {
        color: #243740;

        &:hover,
        &:active,
        &:focus {
            border-top: none !important;

            span {
                color: var(--bs-primary);
            }
        }
    }
}

.searchform {
    position: relative;

    .form-control {
        width: 100%;
    }

    .submit {
        position: absolute;
        right: 0;
        background-color: #f0f1f2;
        border: none;
        height: 100%;
        padding: 0 0.75rem;

        font-size: 1.25rem;

        border-top-right-radius: 50rem;
        border-bottom-right-radius: 50rem;

        transition: color 0.1s;

        span {
            margin: auto;
        }

        &:hover,
        &:active,
        &:focus {
            color: var(--bs-primary);
        }
    }
}

.feed {
    .post {
        .image {
            flex: 1;
            display: flex;
            a {
                margin: auto;
            }
            img {
                height: 200px;
                object-fit: cover;
                border-radius: 20px;
            }
        }
        .content {
            padding: 20px;

            .title {
                display: flex;

                * {
                    color: #243740;
                    font-weight: bold;
                    margin: auto;
                    margin-left: 0;
                    font-size: calc(1rem + 0.9vw);

                    transition: color 0.2s;

                    &:hover,
                    &:active {
                        color: mix(white, #243740, 25%);
                    }
                }
            }

            .meta {
                color: var(--bs-secondary);
                a {
                    font-weight: 500;
                    color: inherit;
                    transition: background-color 0.2s;

                    &:hover,
                    &:active {
                        background-color: #ffe14d;
                    }
                }
            }ç

            .excerpt {
                font-size: 0.9rem;
            }

            .action {
                display: flex;

                a {
                    margin: auto;
                    margin-left: 0;
                    padding: 0.5rem 1.75rem;
                    background-color: #4d5e66;
                    color: white;
                    font-size: 0.9rem;
                    border-radius: 50rem;

                    transition: background-color 0.2s;

                    display: flex;

                    & > * {
                        margin: auto 0;
                    }

                    &:hover,
                    &:active {
                        background-color: mix(white, #4d5e66, 15%);
                    }

                    .text {
                        margin-right: 0.5rem;
                    }
                }
            }
        }
    }

    .no-posts {
        .action {
            font-size: 1rem;
            display: flex;

            a {
                margin: auto;
                margin-left: 0;
                padding: 0.5rem 1.75rem;
                background-color: #4d5e66;
                color: white;
                font-size: 0.9rem;
                border-radius: 50rem;

                transition: background-color 0.2s;

                &:hover,
                &:active {
                    background-color: mix(white, #4d5e66, 15%);
                }
            }
        }
    }
}

.categories {
    .category {
        padding: 0.5rem 1rem;

        border-radius: 50rem;
        color: var(--bs-secondary);
        font-size: 0.875rem;

        transition: background-color 0.1s, color 0.1s, border 0.1s;
        border: solid 1px transparent;

        &:hover,
        &:active,
        &:focus {
            border: solid 1px var(--bs-primary);
            color: var(--bs-primary);
        }

        &.selected {
            border: solid 1px var(--bs-primary);
            background-color: var(--bs-primary);
            color: white;

            &:hover,
            &:active,
            &:focus {
                border: solid 1px mix(white, #faaf19, 20%);
                background-color: mix(white, #faaf19, 20%);
            }
        }
    }

    .category-reset {
        padding: 0.5rem;

        color: var(--bs-secondary);
        transition: color 0.1s;

        &:hover,
        &:active,
        &:focus {
            color: var(--bs-primary);
        }
    }
}

.post-wrap {
    .single {
        .meta {
            color: #828e93;
        }
        > .image {
            display: flex;
            img {
                border-radius: 5px;
                margin: auto;
            }
        }

        .heading {
            .action {
                a {
                    margin-left: 0;
                    padding: 0.5rem 1.5rem;
                    font-size: 0.9rem;
                }
            }
            .title {
                font-size: calc(1.375rem + 1.5vw);
                font-weight: 700;
            }

            .meta {
                color: var(--bs-secondary);
                a {
                    font-weight: 500;
                    color: inherit;
                    transition: background-color 0.2s;

                    &:hover,
                    &:active {
                        background-color: #ffe14d;
                    }
                }
            }

        }
        .content {
            font-size: .95rem;
        }
    }

    .after-content {
        > .title {
            font-weight: 600;
            color: var(--bs-primary);
            font-size: calc(1.3rem + 0.9vw);
            // text-align: center;
        }

        .items {
            .item {
                .inner {
                    height: 100%;

                    border: 1px solid #a5aeb2;
                    box-shadow: 0px 6px 20px #0000001a;
                    border-radius: 20px;
                    overflow: hidden;
                }

                .image {
                    img {
                        width: 100%;
                        border-bottom: solid 1px #a5aeb2;
                    }
                }

                .info {
                    padding: 1rem;
                    .title a {
                        color: #243740;
                        transition: color 0.2s;
                        font-weight: 600;
                        font-size: calc(1.1rem + 0.5vw);

                        &:hover,
                        &:active {
                            color: mix(white, #243740, 20%);
                        }
                    }
                }

                .excerpt {
                    font-size: 0.9rem;
                }

                .action a {
                    margin-left: 0;
                }
            }
        }
    }
}
