.short-diferenciais {
    margin: -$tilt 0;
    .content {
        height: 650px;
        .inner {
            height: 100%;

            & > * {
                padding: 0;
            }

            .text-wrap {
                height: 100%;
                display: flex;
                background-color: #ffe14d;

                padding: $tilt/2 1rem 0;

                .text {
                    margin: auto;

                    h2 {
                        font-weight: 600;
                        letter-spacing: -1.12px;
                        color: #243740;
                        font-size: calc(1.325rem + 1.35vw);
                    }

                    .diferenciais {
                        .item {
                            display: flex;
                            margin: 0.5rem 0;

                            & > * {
                                margin: auto 0;
                            }

                            .icon {
                                margin-right: 0.75rem;
                                color: #c78800;
                                font-size: calc(1.3rem + 0.6vw);
                            }

                            .desc {
                                color: #243740;
                                font-size: 1.1rem;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }

            .image {
                height: 100%;

                img {
                    width: 100%;
                    height: calc(100% - $tilt/2);
                    object-fit: cover;
                }
            }
        }
    }
}

@media all and (max-width: 992px) {
    .short-diferenciais {
        margin: -$tilt-md 0;

        .content {
            height: unset;

            .inner {
                background-color: #ffe14d;

                .text-wrap {
                    padding-top: calc($tilt-md + 2rem + 0.9vw);
                    padding-bottom: 1rem;
                }

                .image {
                    clip-path: polygon(0% $tilt-md, 100% 0%, 100% 100%, 0% 100%);

                    img {
                        display: block;
                        max-height: 350px;
                        object-position: bottom;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 576px) {
    .short-diferenciais {
        .content {
            .inner {
                .text-wrap {
                    padding-left: 0.75rem;
                    padding-right: 0.75rem;

                    .text {
                        .diferenciais {
                            .item {
                                .icon {
                                    margin-right: 0.5rem;
                                }
                                .desc {
                                    font-size: 1rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 350px) {
    .short-diferenciais {
        .content {
            .inner {
                .text-wrap {
                    padding-bottom: .25rem;
                }
            }
        }
    }
}
