.short-empreendimentos {
    .items {
        .item {
            .inner {
                .images {
                    img {
                        width: 100%;
                        border-radius: 20px;
                        object-fit: cover;
                    }

                    .highlight {
                        position: relative;
                        .tag {
                            position: absolute;
                            top: 0.75rem;
                            left: 1.25rem;
                            padding: 0.25rem 0.75rem;
                            background-color: rgba(#FAAF19, 0.75);
                            color: white;
                            border-radius: 50rem;
                            font-size: 1rem;
                        }
                        img {
                            height: 100%;
                            border-top-right-radius: 60px;
                        }
                    }

                    .ratio {
                        width: 100%;
                        overflow: hidden;
                        margin: 0;
                        padding-top: 56.25%;
                        position: relative;

                        img {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            width: 100%;
                            transform: translate(-50%, -50%);
                        }
                    }
                }

                .content {
                    flex: 1;
                    margin: auto 0.75rem auto 2rem;

                    .name {
                        letter-spacing: -0.1rem;
                        font-size: calc(1.375rem + 1.5vw);
                        font-weight: 600;
                        color: #243740;

                        transition: color 0.2s;

                        &:hover,
                        &:active {
                            color: mix(white, #243740, 15%);
                        }
                    }

                    .local {
                        display: flex;

                        > * {
                            line-height: 1;
                            margin: auto;
                        }

                        .icon {
                            margin-right: 0.1rem;
                            font-size: 1.25rem;
                            -webkit-text-stroke: 1px var(--bs-primary);
                        }
                        .text {
                            color: #243740;
                            font-weight: 600;
                        }
                    }

                    .custom {
                        .carac {
                            display: flex;
                            margin: 1.25rem 0;

                            > * {
                                margin: auto 0;
                            }
                            img {
                                width: 2rem;
                                height: 2rem;
                                margin-right: 1rem;
                            }

                            span {
                                color: #243740;
                                font-size: 0.9rem;
                                font-weight: 600;
                            }
                        }
                    }
                }

                .action {
                    border-bottom: solid 2px #bbc2c5;
                    display: flex;

                    a {
                        margin: auto;
                        display: inline;
                        padding: 0.5rem 2.5rem;
                        background-color: #005f8f;
                        border-radius: 50rem;
                        font-size: 0.9rem;
                        color: white;
                        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);

                        transition: background-color 0.2s;

                        &:hover,
                        &:active {
                            background-color: mix(white, #005f8f, 15%);
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 768px) {
    .short-empreendimentos {
        .items {
            .item {
                .inner {
                    .content {
                        margin: 2rem 0.75rem 0;
                    }
                    .action {
                        border-bottom-width: 1px;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 350px) {
    .short-empreendimentos {
        .items {
            .item {
                .inner {
                    .content {
                        margin: 2rem 0 0;
                    }
                    .action {
                        border-bottom-width: 1px;
                    }
                }
            }
        }
    }
}
