.short-form-tilt {
    position: relative;
    z-index: 1;

    &.clip {
        &-top {
            margin-top: calc(-1 * $tilt + 0.5rem);

            .content {
                clip-path: polygon(0% $tilt, 100% 0%, 100% 100%, 0% 100%);
                padding: calc($tilt + 2rem) 0;
                padding-bottom: 3rem !important;
            }
        }
        &-bottom {
            margin-bottom: calc(-1 * $tilt);

            .content {
                clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - $tilt), 0% 100%);
                padding: calc($tilt + .5rem) 0;
                padding-top: 5rem !important;
            }
        }
    }

    &.background {
        &-solid .content {
            background: #243740;
        }

        &-gradient .content {
            background: #243740 linear-gradient(180deg, #4d5e66 0%, #243740 100%);
        }
    }

    .content {

        .container {
            .title {
                letter-spacing: -1.12px;
                color: #ffe14d;
                font-size: calc(1.5rem + 1.25vw);
                font-weight: 600;
            }

            .form {
                background-color: white;
                width: 100%;
                max-width: 540px;

                padding: 1.5rem 1.75rem;
                margin: 2rem 0;

                border-radius: 40px;

                form {
                    width: 100%;

                    textarea {
                        height: 100px;
                    }

                    .submit {
                        position: relative;

                        background: linear-gradient(0deg, #fab319 0%, #ffe14d 100%);
                        color: var(--bs-dark);
                        padding: 0.5rem 1.35rem;
                        border: none;
                        font-weight: 600;
                        z-index: 1;

                        transition: background 0.2s;

                        &::before {
                            content: "";
                            position: absolute;
                            z-index: -1;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;

                            background: linear-gradient(
                                0deg,
                                mix(white, #fab319, 15%) 0%,
                                mix(white, #ffe14d, 15%) 100%
                            );
                            border-radius: 50rem;

                            opacity: 0;
                            transition: opacity 0.2s;
                        }

                        span {
                            -webkit-text-stroke: 1px var(--bs-dark);
                        }

                        &:hover,
                        &:active {
                            &::before {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 1200px) {
    .short-form-tilt {

        &.clip {
            &-top {
                margin-top: calc(-1 * $tilt-lg + 0.5rem);

                .content {
                    clip-path: polygon(0% $tilt-lg, 100% 0%, 100% 100%, 0% 100%);
                    padding: calc($tilt-lg + 2rem) 0;
                }
            }
            &-bottom {
                margin-bottom: calc(-1 * $tilt-lg);

                .content {
                    clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - $tilt-lg), 0% 100%);
                    padding: calc($tilt-lg + .5rem) 0;
                }
            }
        }
    }
}

@media all and (max-width: 992px) {
    .short-form-tilt {

        &.clip {
            &-top {
                margin-top: calc(-1 * $tilt-md + 0.5rem);

                .content {
                    clip-path: polygon(0% $tilt-md, 100% 0%, 100% 100%, 0% 100%);
                    padding: calc($tilt-md + 2rem) 0;
                }
            }
            &-bottom {
                margin-bottom: calc(-1 * $tilt-md);

                .content {
                    clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - $tilt-md), 0% 100%);
                    padding: calc($tilt-md + .5rem) 0;
                }
            }
        }
    }
}

@media all and (max-width: 350px) {
    .short-form-tilt {
        .content {
            .container {
                padding-left: 0.5rem;
                padding-right: 0.5rem;
                .form {
                    padding: 2rem 0.75rem;
                }
            }
        }
    }
}
